ul{
  list-style: none;
  padding: 0;
  margin:0;
}
a{
  text-decoration: none;
}

mat-toolbar{
  background-color: black;
  color:white;
}
ul{
  display: flex;
}
.space{
  flex: 1 1 auto;
}

.home{
  margin-right: 1rem;
  color: white;
}

mat-icon{
  color: white;
}

a{
  color: white;
}
