<div>
  <br>
    <h1>  {{title}} </h1>
  <br>
</div>


<mat-tab-group animationDuratiosn="1000ms">
    <mat-tab label="Model Info">
        <h2>Description</h2>
        {{description}}<br><br>
        <mat-divider> </mat-divider>
        <h4>Git HUb repo</h4> {{githubUrl}}<br>
        <mat-divider> </mat-divider>
        <h4>Data Link</h4> {{dataLink}}

    </mat-tab>
    <mat-tab label="Code">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <h1 class="text-center mat-display-5 my-4">Model file storage</h1>
                    <button mat-stroked-button type="button" (click)="filePicker.click()">Upload File</button>
                    <h2>Files</h2>
                    <input type="file" name="image" #filePicker (change)="onImagePicked($event)">
                    <table>
                        <tr>
                            <th>File Name</th>
                            <th>Upload Time</th>
                            <th>Delete</th>
                            <th>Download</th>
                        </tr>
                        <tr *ngFor="let file of files">
                                <td><a (click)="downloadFile(file.filename,file.contentType)">{{file.filename}}</a></td>
                                <td>{{file.uploadDate}}</td>
                                <td><button (click)="deleteFile(file.filename)">Delete</button></td>
                                <td><button (click)="downloadFile(file.filename,file.contentType)">Download</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Accuracy">
        <h1>Accuracy chart</h1>
        <div *ngIf="accuracyValueData.length > 0; else elseBlock">
        <canvas baseChart
                width="150" height="100"
                [data]="accuracyValueData" [labels]="model_iteration"  [options]="lineChartOptions" [chartType]="lineChartType" >
        </canvas>
        </div>
        <ng-template #elseBlock>No test data uploaded yet</ng-template>

    </mat-tab>
    <mat-tab label="Loss">
        <h1>Loss value chart</h1>
        <div *ngIf="lossValueData.length > 0; else elseBlock">
        <canvas baseChart
                width="150" height="100"
                [data]="lossValueData"  [labels]="model_iteration"  [options]="lineChartOptions" [chartType]="lineChartType" >
        </canvas>
        </div>
        <ng-template #elseBlock>No test data uploaded yet</ng-template>
    </mat-tab>
</mat-tab-group>
