<div>
  <br>
  {{title}}
  <br>
</div>


<mat-tab-group animationDuratiosn="1000ms">
    <mat-tab label="Accuracy">
        <h1>Accuracy chart</h1>
        <canvas baseChart
                width="150" height="100"
                [data]="accuracyValueData" [labels]="model_iteration"  [options]="lineChartOptions" [chartType]="lineChartType" >
        </canvas>
    </mat-tab>
    <mat-tab label="Loss">
        <h1>Loss value chart</h1>
        <canvas baseChart
                width="150" height="100"
                [data]="lossValueData"  [labels]="model_iteration"  [options]="lineChartOptions" [chartType]="lineChartType" >
        </canvas>
    </mat-tab>
    <mat-tab label="Iretations">
        <h1>Iterations results</h1>

    </mat-tab>
    <mat-tab label="Code">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <h1 class="text-center display-4 my-4">Code</h1>
                    <div class="text-center ">Uploaded Images here</div>
                </div>
            </div>
        </div>
        <mat-card>
            <form [formGroup]="form" (submit)="onSavePost()">
                    <input
                           type="file"
                           name="file"
                           formControlName="file"
                           placeholder="enter to create post"
                           floating>
                    <mat-error *ngIf="form.get('file').invalid">'file is required' </mat-error>
                <hr>
                <button mat-raised-button color="accent" type="submit">Save</button>
            </form>
        </mat-card>
    </mat-tab>
</mat-tab-group>
