<br>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<br>
<p>
  <button class="btn btn-info btn-lg" (click)="onlike()">
    <span class="glyphicon glyphicon-thumbs-up"></span> Like
  </button>
</p>
<span> {{like}} </span>
<p>
  <button class="btn btn-info btn-lg" (click)="ondislike()">
    <span class="glyphicon glyphicon-thumbs-down"></span> Unlike
  </button>
</p>
<span> {{dislike}}</span>


<app-comment></app-comment>

<!--<p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>-->
